header {
    background-color: rgb(0, 64, 255); 
    box-sizing: border-box;
    display: block;
    width: 100vw; 
    margin: 0;
    padding: 0; 
}

header .container {
    max-width: 1140px; 
    margin: 0 auto;
    padding: 0 15px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
    /*font-size: 120%;*/
}

.logo-lg {
    width: 100px;
    height: 100px;
}

@media (max-width: 556px) {
    .logo-lg {
      width: 20%;
      height: 20%;
    }
}

@media (max-width: 370px) {
    .logo-lg {
      width: 30%;
      height: 30%;
      top: 50%;
      left: 50%;
      margin-left: 60px;
    }
}

.btn {
    color: rgb(255, 255, 255) !important;
}

.btn-inverted {
    background-color: white !important;
    color: rgb(0, 64, 255) !important;
    border: 1px solid rgb(0, 64, 255) !important;
}

.btn-inverted:hover {
    background-color: rgb(0, 48, 191) !important;
    color: white !important;
}

.customized-btn {
    font-size: 1.25rem; /* Aumenta la dimensione del testo */
    color: rgb(0, 0, 0); /* Colore del testo nero */
    font-weight: bold; /* Testo in grassetto */
    display: flex;
    justify-content: center;
    align-items: center;
}

.personaliz-checkbox {
    width: 20px;
    height: 20px;
    outline: 2px solid black;
    outline-offset: 2px;
}

.personaliz-button {
    font-weight: bold; /* Testo in grassetto */
}